@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-fondo: #ffffff;
    --color-texto: #111111;
    --color-primario: #d90429;
    --color-secundario: #ef233c;
    --color-tarjeta: #f4f4f4;
    --sombra-suave: 0 10px 30px rgba(0, 0, 0, 0.08);
}

* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

h1, h2 { 
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase; 
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding: 0 8%;
    gap: 40px;
}

.hero-texto { flex: 1; }

.hero-texto h1 { 
    font-size: 50px; 
    line-height: 1.1;
     margin-bottom: 20px; 
}

.hero-texto h1 span { 
    color: var(--color-primario); 
}
.hero-texto p { 
    font-size: 18px; 
    margin-bottom: 30px; 
    opacity: 0.9; 
}

.boton-primario {
    display: inline-block;
    padding: 14px 32px;
    background: var(--color-primario);
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.3s ease;
}

.hero-visual { 
    flex: 1.2; 
    display: flex;
     justify-content: flex-end;
 }

.hero-visual img {
     max-width: 85%; 
     height: auto; 
}